eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true

server:
  port: 4200

spring:
  application:
    name: "product-webapp"
  cloud:
    compatibility-verifier:
      enabled: false
