 .card {
  width: 400px;
  height: 300px;
  background: whitesmoke;
  transition: .2s linear;
  box-shadow: 1px 1px 10px lightslategray;
  cursor: default;
  padding: 1rem;
  margin-top: 2rem;
  display: inline-block;
  margin-left:40px ;
  }

.abc{
display: inline-block;

}

.user-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.name {
  font-size: 20px;
}

.role {
  font-size: 15px;
  color: rgb(225, 33, 33);
  font-weight: bold;
  text-transform: lowercase;
  background-color: lightskyblue;
  padding: 4px 10px;
  border-radius: 15px;
  width: fit-content;
}


.card-bottom-part {
  width: 100%;
  display: flex;
  margin: auto;
  justify-self: center;
  border: 1px solid rgb(231, 227, 227);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background-color: rgb(137, 178, 217);
}


img {
  width: 100%;
}

.bottom-part {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom-part:hover>.link {
  transform: scale(1.1);
}


.bottom-part:first-child {
  border-right: 1px solid rgb(231, 227, 227);
}

.main{
  padding: 1rem;
}

.cities{
  overflow:auto;
}

hr {
  height: 2px;
  border-color: black;
  border-style: solid;
}

h1
{
  font-size: 30px;
  margin: 25px;
  background-color: antiquewhite;
  
}