.container {
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 10px;
}

h2 {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.lead {
    font-size: 18px;
    color: #555;
    text-align: center;
}

hr {
    border: 1px solid #333;
    width: 50px;
    margin: 40px auto;
}

h3 {
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}
.back a{
    color: white;
  }