<!-- <div class="wrapper">
    <div>
        <img src="../../assets/010.png" alt="" />
    </div>
    <form action="">
        <div class="form-header">
            <h3 style="color: #da0c08; font-family: poppins; font-weight: 700">
                <B>Book Your Orders</B>
            </h3>
        </div>
        <div id="wizard">
            <h4></h4>
            <section>
                <div class="form-row">
                    <label for=""> Weight </label>
                    <div class="form-holder">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <label for=""> Source </label>
                    <div class="form-holder">
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="form-row">
                    <label for=""> Destination </label>
                    <div class="form-holder">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <label for=""> Product Name </label>
                    <div class="form-holder">
                        <input type="text" class="form-control" />
                    </div>
                </div>

                <div class="form-row">
                    <label for=""> Types of transports </label>
                    <div class="form-holder">
                        <select name="" id="" class="form-control">
                            <option value="Road Transport" class="option">
                                Road Transport
                            </option>
                            <option value="Railways" class="option">
                                Railways
                            </option>
                            <option value="Air Transport" class="option">
                                Air Transport
                            </option>
                        </select>
                        <i class="zmdi zmdi-caret-down"></i>
                    </div>
                </div>
            </section>
            <BR /><BR />
            <button class="button button4">Submit</button>
            <h4></h4>
        </div>
    </form>
</div> -->
