<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3 translate>About Us</h3>
            <p translate>We are a logistics company providing top-notch services to meet all your needs.</p>
        </div>
        <div class="footer-section">
            <h3 translate>Contact Us</h3>
            <p translate>Email: dispatchdynamomovers@gmail.com</p>
            
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a routerLink="/services" translate>Services</a></li>
                <li><a routerLink="/pricing" translate>Pricing</a></li>
                <li><a routerLink="/about" translate>About Us</a></li>
                <li><a routerLink="/contact" translate>Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3 translate>Follow Us</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/"><i class="fa-brands fa-square-twitter"></i></a>
            </div>
        </div>
    </div>
    <p class="copyright" translate>Copyright © Logistics Company 2023</p>
</footer>
